/* PHASE 1: Header */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header {
  background-color: red;
  height: 40px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header-nav {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #ccc;
}

.header-nav > h1 {
  display: block;
  padding: 10px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-list{
  display: flex;
}

.header-list > li {
  display: block;
  padding: 10px;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background-color: black;
}
